{% extends "user_panal/base.html" %}
{% load static %}
{% block main %}
<!-- <style>
    /* CSS styles */
    .error-message-container{
        background-color: #ffcccc; /* Light red background */
        color: #cc0000; /* Dark red text color */
        padding: 10px; /* Add padding for better readability */
        border-radius: 5px; /* Rounded corners */
        margin-top: 10px; /* Add margin to separate from other elements */
    }
</style> -->

<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> Your Cart
            </div>
        </div>
    </div>
    <!-- HTML template -->
    {% if messages %}
        <ul class="error-message">
            {% for error-message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div id="error-message-container" class="error-message" style="background-color: #ffcccc;
    color: #cc0000;padding: 10px;border-radius: 5px;margin-top: 10px;display: none;"></div>

    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table shopping-summery text-center clean">
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Subtotal</th>
                                    <th scope="col">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cart in cart_items %}
                                <tr>
                                    <td class="image product-thumbnail"><img src="{{ cart.product_info.image1.url }}" alt="product image" style="width: 80;height: 80;"></td>
                                    <td class="product-des product-name">
                                        <h5 class="product-name"><a href="shop-product-right.html">{{ cart.product_info.name }}</a></h5>
                                    </td>
                                    <td class="price" data-title="Price"><span>₹{{ cart.product_info.price }} </span></td>

                                    {% if cart.selected_size == 'small' %}
                                    <td class="price" data-title="Price"><span>S</span></td>
                                    {% elif cart.selected_size == 'medium' %}
                                    <td class="price" data-title="Price"><span>M</span></td>
                                    {% elif cart.selected_size == 'large' %}
                                    <td class="price" data-title="Price"><span>L</span></td>
                                    {% endif %}
                                

                                    <td class="text-center" data-title="Quantity">
                                        <div class="detail-qty border radius m-auto">
                                            <a href="#" class="qty-down" onclick="updateCartItemQuantity('{{ cart.id }}', 'decrease')" data-cartitemid="{{ cart.id }}"><i class="fi-rs-angle-small-down"></i></a>
                                            <span class="qty-val">{{ cart.quantity }}</span>
                                            <a href="#" class="qty-up" onclick="updateCartItemQuantity('{{ cart.id }}', 'increase')" data-cartitemid="{{ cart.id }}"><i class="fi-rs-angle-small-up"></i></a>
                                        </div>
                                    </td>
                                    <td class="text-right" data-title="Cart">
                                        <span class="cart-item-value" id="cart-item-value-{{ cart.id }}">₹{{ cart.product_info.price }}</span>
                                    </td>
                                    <td class="action" data-title="Remove"><a href="{% url 'cart_delete' cart.id %}" class="text-muted"><i class="fi-rs-trash"></i></a></td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="6" class="text-end">
                                        <a href="#" class="text-muted"> <i class="fi-rs-cross-small"></i> Clear Cart</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="cart-action text-end">
                        <a class="btn  mr-10 mb-sm-15"><i class="fi-rs-shuffle mr-10"></i>Update Cart</a>
                        <a class="btn " href="{% url 'new_collection' %}"><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                    </div>
                    <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                    <div class="row mb-50">
                        <div class="col-lg-6 col-md-12">
                            <div class="border p-md-4 p-30 border-radius cart-totals">
                                <div class="heading_s1 mb-3">
                                    <h4>Cart Totals</h4>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                           <tr>
                                <td class="cart_total_label">Cart Subtotal</td>
                                <td class="text-right" data-title="Cart">
                                    <span id="total-subtotal">₹{{ total_subtotal|floatformat:2 }}</span>
                                </td>
                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <a href="{% url 'check_out' %}" class="btn "> <i class="fi-rs-box-alt mr-10"></i> Proceed To CheckOut</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- <script>
    function updateCartItemQuantity(cartItemId, action) {
        const url = '/update-cart-item/';
        const csrfToken = '{{ csrf_token }}';
        const formData = new FormData();
        formData.append('cart_item_id', cartItemId);
        formData.append('action', action);

        fetch(url, {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrfToken
            },
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                const spanId = `#cart-item-value-${cartItemId}`;
                const spanElement = document.querySelector(spanId);

                if (spanElement) {
                    spanElement.textContent = data.cart_item_value;

                    // Update total subtotal
                    updateTotalSubtotal();

                    // Disable qty-up button if quantity reaches 5
                    const qtyUpButton = document.querySelector(`[data-cartitemid="${cartItemId}"] .qty-up`);
                    const currentQuantity = parseInt(spanElement.textContent);
                    // console.log( currentQuantity);
                    if (currentQuantity >= 5) {
                        qtyUpButton.qty-up.add('disabled');
                        qtyUpButton.setAttribute('disabled', 'disabled');
                    } else {
                        qtyUpButton.classList.remove('disabled');
                        qtyUpButton.removeAttribute('disabled');
                    }
                }
            } else {
                // Display an error message on the page
                const errorMessage = document.getElementById('error-message');
                if (errorMessage) {
                    errorMessage.textContent = data.error;
                }
            }
        })
        .catch(error => {
            console.error('Error:', error);
            // Display a generic error message on the page
            const errorMessage = document.getElementById('error-message');
            if (errorMessage) {
                errorMessage.textContent = 'An unexpected error occurred. Please try again.';
            }
        });
    }

    function updateTotalSubtotal() {
        const cartItemValues = document.querySelectorAll('.cart-item-value');
        let totalSubtotal = 0;

        cartItemValues.forEach(item => {
            totalSubtotal += parseFloat(item.textContent.replace('₹', '')); // Assuming '₹' is the currency symbol
        });

        // Update the total subtotal in the HTML element
        const totalSubtotalElement = document.getElementById('total-subtotal');
        if (totalSubtotalElement) {
            totalSubtotalElement.textContent = `₹${totalSubtotal.toFixed(2)}`;
        }
    }
</script> -->

<script>
    function updateCartItemQuantity(cartItemId, action) {
        const url = '/update-cart-item/';
        const csrfToken = '{{ csrf_token }}';
        const formData = new FormData();
        formData.append('cart_item_id', cartItemId);
        formData.append('action', action);

        fetch(url, {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrfToken
            },
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                const spanId = `#cart-item-value-${cartItemId}`;
                const spanElement = document.querySelector(spanId);

                if (spanElement) {
                    spanElement.textContent = data.cart_item_value;

                    // Update total subtotal
                    updateTotalSubtotal();

                    // Disable qty-up button if quantity reaches 5
                    const qtyUpButton = document.querySelector(`[data-cartitemid="${cartItemId}"] .qty-up`);
                    const currentQuantity = parseInt(data.cart_quantity); // Get cart quantity from data
                    console.log(currentQuantity)
                    if (currentQuantity >= 5) {
                        qtyUpButton.classList.add('disabled');
                        qtyUpButton.setAttribute('disabled', 'disabled');
                    } else {
                        qtyUpButton.classList.remove('disabled');
                        qtyUpButton.removeAttribute('disabled');
                    }
                }
            } else {
                // Display an error message on the page
                const errorMessageContainer = document.getElementById('error-message-container');
                if (errorMessageContainer) {
                    errorMessageContainer.innerHTML = `<ul class="error-message"><li>${data.error}</li></ul>`;
                    errorMessageContainer.style.display = 'block'; // Show the error message container
                    
                    // Hide qty-up button
                    const qtyUpButton = document.querySelector(`[data-cartitemid="${cartItemId}"] .qty-up`);
                    if (qtyUpButton) {
                        qtyUpButton.style.display = 'none';
                    }
                }
            }
        })
    }

    function updateTotalSubtotal() {
        const cartItemValues = document.querySelectorAll('.cart-item-value');
        let totalSubtotal = 0;

        cartItemValues.forEach(item => {
            totalSubtotal += parseFloat(item.textContent.replace('₹', '')); // Assuming '₹' is the currency symbol
        });

        // Update the total subtotal in the HTML element
        const totalSubtotalElement = document.getElementById('total-subtotal');
        if (totalSubtotalElement) {
            totalSubtotalElement.textContent = `₹${totalSubtotal.toFixed(2)}`;
        }
    }
</script>



 
    
{% endblock %}