{% extends "user_panal/base.html" %}
{% load static %}
{% block main %}
<div class="page-header breadcrumb-wrap">
    <div class="container">
        <div class="breadcrumb">
            <a href="{% url 'index' %}" rel="nofollow">Home</a>
            <span></span> <a href="#" rel="nofollow">Shop</a> 
            <span></span> New collection
        </div>
    </div>
</div>

<section class="mt-50 mb-50">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-9">
                <div class="shop-product-fillter">
                    <div class="totall-product">
                        <p> We found <strong class="text-brand">{{ num }}</strong> items for you!</p>
                    </div>
                </div>
                <div class="row product-grid-3">
                    
                    {% for items in collections%}
                    <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                        <div class="product-cart-wrap mb-30">
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <a href="shop-product-right.html">
                                        <img class="default-img" src="{{items.image1.url}}" alt="">
                                        <img class="hover-img" src="{{items.image2.url}}" alt="">
                                    </a>
                                </div>
                                <div class="product-action-1">
                                    <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-search"></i></a>
                                    <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                    <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                </div>

                            </div>
                            <div class="product-content-wrap">
                                <div class="product-category">
                                    <a href="shop-grid-right.html">{{items.product_type}}</a>
                                </div>
                                <h2><a href="{% url 'product_info' items.id %}">{{items.name}}</a></h2>
                                <div class="rating-result" title="90%">
                                    <span>
                                        <span>{{items.offer}}%Off</span>
                                    </span>
                                </div>
                                <div class="product-price">
                                    <span>₹{{items.price}} </span>
                                </div>
                                <div class="product-action-1 show">
                                    <a aria-label="Add To Cart" class="action-btn hover-up" href="{% url 'cart_create' items.id %}"><i class="fi-rs-shopping-bag-add"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
             
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">

                        {% for i in collections.paginator.page_range %}
                            {% if collections.number == i %}
                                <li class="page-item active"><a class="page-link" href="?page={{ i }}">0{{ i }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">0{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        
                    </ul>
                </nav>
            </div>  

            </div>
            <div class="col-lg-3 primary-sidebar sticky-sidebar">
                <form method="GET" action="{% url 'new_collection' %}">
                    <div class="widget-category mb-30">
                        <h4>Category</h4><br>
                        {% for category in data %}
                            <input type="checkbox" name="category_id" value="{{ category.id }}" {% if category.id|stringformat:"s" in request.GET.category_id %}checked{% endif %} style="height: 10%;width: 10%;">
                            <label>{{ category.name }}</label><br>
                        {% endfor %}
                    </div>
                    <div class="widget-category mb-30">
                        <h4>Sort-by</h4><br>
                        <input type="checkbox" name="sort_by" value="price_asc" {% if request.GET.sort_by == 'price_asc' %}checked{% endif %} style="height: 10%;width: 10%;" onclick="uncheckOtherBoxes(this)"> 
                        <label>Price: Low to High</label><br>
                        <input type="checkbox" name="sort_by" value="price_desc" {% if request.GET.sort_by == 'price_desc' %}checked{% endif %} style="height: 10%;width: 10%;" onclick="uncheckOtherBoxes(this)">
                        <label>Price: High to Low</label><br>
                        <input type="checkbox" name="sort_by" value="name_asc" {% if request.GET.sort_by == 'name_asc' %}checked{% endif %} style="height: 10%;width: 10%;" onclick="uncheckOtherBoxes(this)">
                        <label>Name: A-Z</label><br>
                        <input type="checkbox" name="sort_by" value="name_desc" {% if request.GET.sort_by == 'name_desc' %}checked{% endif %} style="height: 10%;width: 10%;" onclick="uncheckOtherBoxes(this)">
                        <label>Name: Z-A</label><br>
                    </div>
                    <button type="submit">Apply</button>
                </form>
                
            </div>
        </div>
    </div>
</section>
<script>
    function selectOption(element) {
        var allLinks = document.querySelectorAll('.sort-by-dropdown a');
        allLinks.forEach(function(link) {
            link.classList.remove('active');
            link.querySelector('.indicator').innerHTML = '';
        });
    
        element.classList.add('active');
        element.querySelector('.indicator').innerHTML = '✔';
    }
</script>
<script>
    function uncheckOtherBoxes(clickedCheckbox) {
        var checkboxes = document.getElementsByName("sort_by");
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i] !== clickedCheckbox) {
                checkboxes[i].checked = false;
            }
        }
    }
</script>

    
{% endblock %}