{% extends "user_panal/user_index.html" %}
{% block main %} 
<section class="content-main mt-80 mb-80">
    <div class="card mx-auto card-login" style="margin-top: -5%;">
        <div class="card-body">
            <h4 class="card-title mb-4">Shipping Address</h4>
            <div class="message">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <form method="post">
                {% csrf_token %} 
                <div class="mb-3">
                    <label>Address <span class="required"></span></label>
                    <input required="" class="form-control square" name="address" type="text" required=""> 
                </div> <!-- form-group// -->
                <div class="mb-3">
                    <label>Locality <span class="required"></span></label>
                    <input required="" class="form-control square" name="locality" type="text" required=""> 
                </div> <!-- form-group// -->
                <div class="mb-3">
                    <label>Pincode <span class="required"></span></label>
                    <input required="" class="form-control square" name="pincode" type="text" required=""> 
                </div> <!-- form-group// -->
                <div class="mb-3">
                    <label>District <span class="required"></span></label>
                    <input required="" class="form-control square" name="district" type="text" required=""> 
                </div> <!-- form-group// -->
                <div class="mb-3">
                    <label>State <span class="required"></span></label>
                    <input required="" class="form-control square" name="state" type="text" required=""> 
                </div> <!-- form-group// -->
                <div class="mb-4">
                    <a href="#"><button type="submit" class="btn btn-primary w-100"> Submit </button></a>
                </div> <!-- form-group// -->
            </form>
        </div>
    </div>
</section>
{% endblock %}
